/* styles.css */
.first-column {
    width: 500px;
    /* Add any other styles as needed */
  }
  /* styles.css */
/* Apply styles to the first column */
td:nth-child(1) {
    width: 50%!important; /* Set your desired width */
    font-size: 12pt;
    /* Add any other styles as needed */
  }

  td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    font-size: 8pt;
    font-weight: normal;
    width: 10%!important; /* Set your desired width */
    /* Add any other styles as needed */
  }
  